.container {
  padding: 2rem;
  min-height: calc(100vh - 215px);

  .description {
    background-color: #b6c5f2;
    color: #595fd9;
    margin: -2rem;
    padding: 2rem;
    .title {
      font-size: 120px;
      text-align: center;
      margin-bottom: 3rem;
    }
    .descriptionContent {
      // max-width: 700px;
      padding-bottom: 2rem;

      .descriptionText {
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

.categorySection {
  margin-bottom: 2rem;
}

.categoryTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #c2d991;
}

.sourcesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.sourceCard {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-4px);
  }
}

.sourceName {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.15;
  color: #9bb1f2;
  .sourceNameRus {
    font-size: 0.75rem;
  }
}

.sourceDescription {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.sourceDetails {
  font-size: 0.875rem;
  color: #666;
  margin: 0.25rem 0;
}

.buttonGroup {
  width: 100%;
  margin-top: 1rem;

  .button {
    width: 100%;
    font-size: 18px !important;
    font-weight: 600;
  }
}

.select {
  width: 33.34%;
}

.greenText {
  // color: white;
  font-weight: 600;
}

.sourceBannerWrapper {
  width: calc(100% + 2rem); // чтобы вылезти за padding если нужно
  margin: -1rem -1rem 1rem -1rem; // чтобы полоска шла на весь блок
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.sourceBannerImage {
  display: block;
  width: 100%;
  height: 40px; // или сколько нужно
  object-fit: cover;
  filter: brightness(1.1) saturate(0.2) contrast(0.9);
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.addButton {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  background-color: #c2d991;
  color: white;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

@media (max-width: 1100px) {
  .container {
    .description {
      .title {
        font-size: 90px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .description {
      .title {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .buttonGroup {
    .button {
      font-size: 12px !important;
      font-weight: 600;
    }
  }
}

.creatorBox {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.75rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.creatorAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(20%) brightness(1.05);
}

.creatorInfo {
  font-size: 0.9rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 0.25;
}

.creatorLinks {
  a {
    color: #4d77ff;
    text-decoration: none;
    margin-right: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
