.header {
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  background-color: #6872a6;
  color: white;
  z-index: 1000;
  margin: auto;

  .content {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    .flexrow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    .title {
      font-size: 32px;
    }
  }
}

.lngButton {
  font-size: 14px;
  // width: 70px;
  // width: 50px;
  box-sizing: border-box;
  border: none;
  background-color: #6872a6;
  color: white;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
