.header {
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  background-color: white;
  color: #b6c5f2;
  z-index: 1000;
  margin: auto;

  .content {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    .flexrow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    .title {
      font-size: 32px;
    }
  }
}

.addButton {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  background-color: #c2d991;
  color: white;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.lngButton {
  font-size: 14px;
  background-color: transparent;
  display: flex;
  gap: 0.25rem;
  color: #fba4d7;
}

.lngButton:hover {
  opacity: 0.7;
}

.smallTooltip {
  max-width: 180px;
  white-space: normal;
  text-align: center;
}
