.footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px 40px;
  font-size: 16px;
  background-color: #6872a6;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;

  .title {
    font-size: 42px;
  }

  .info {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .email {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 16px;

    .emailTitle {
      color: white;
    }
  }
}
